*{
    margin: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: #CCD5AE !important;
}
.modal-content{
    background-color: #CCD5AE !important;
}
.modal-dialog{
    background-color: #CCD5AE !important;
}
#select-subject{
    background-color: #FAEDCD;
}
nav{
    background-color: #FEFAE0 !important;
    margin-right: 0;
    left: 0% !important;
}
.btn{
    background-color: #E9EDC9 !important;
}
.form-control{
    background-color: #E9EDC9 !important;
}
.form-select{
    background-color: #FAEDCD !important;
}
.flashcard-back-text{
    z-index: 2;
    resize: none;
    background-color: #E9EDC9 !important;
    border: none !important;
    height: 55%;
    margin-bottom: 0 !important;
    border-radius: 20px !important;
    cursor: default !important;
}
.hide{
    display: none !important;
}
.container{
    margin-top: 2%;
    width: 100%;
    transition-duration: 0.2;
    opacity: 1;
    display: grid;
    line-height: 600%;
}
.fade{
    transition-duration: 0.2s;
    opacity: 0;
}
.flashcard-front-text{
    resize: none;
    background-color: #E9EDC9 !important;
    border: none !important;
    height: 55%;
    margin-bottom: 0 !important;
    cursor: default !important;
    border-radius: 20px !important;
}
.col:hover{
    transition-duration: 0.2s;
    border-radius: 30px;
    box-shadow: 5px 5px 10px 2px rgba(80, 72, 72, 0.8);    
}
.modal-footer{
    color: black !important;
}
.fade-in{
    transition-duration: 0.2s;
    opacity: 1;
}
.navbar-brand small {
    display: block;
    font-size: 10px;
}
.row{
    width: 100%;
}
.no-gutters{
    margin-right: 0;
    margin-left: 0% !important;
}
.col{
    background-color: #E9EDC9;
    text-align: center;
    max-height: 300px;
    border-radius: 20px;
}
.list-of-reviews{
    border: solid;
    border-color: black;
    width: 80%;
    height: fit-content;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
}
.review-titles{
    font-size: 20px;
    margin-bottom: 5%;
}
#left-arrow{
    position: relative;
    float: left;
    margin-left: 2%;
}
#right-arrow{
    position: relative;
    float: right;
    margin-right: 2%;
}
#add-flashcard{
    margin-left: 5%;
    font-size: 20px;
    margin-top: 5%;
}
#add-flashcard2{
    margin-left: 5%;
    font-size: 20px;
    margin-top: 5%;
}
.flashcards{
    cursor: pointer;
}
.see-reviews{
    text-decoration: underline;
    color: #D4A373;
    cursor: pointer;
    z-index: 1;
}
#add-review{
    margin-left: 5%;
    font-size: 20px;
    margin-top: 5%;
}
#current-reviews{
    margin-left: 5%;
    font-size: 20px;
    margin-top: 5%;
}
#title{
    font-size: 40px !important;
    color: black !important;
}
nav{
    position: fixed !important;
    z-index: 10;
    top: 0;
    margin-top: 0;
    width: 100%;
}
#flashcard_form{
    margin-top: 3%;
    margin-left: 5%;
}
#flashcard_form2{
    margin-top: 3%;
    margin-left: 5%;
}
#select-subject{
    margin-top: 120px;
    margin-left: 5%;
    margin-bottom: 2%;
    width: 200px !important;
}
#rating1{

    width: fit-content;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.star{
    cursor: pointer;
    color: #FEFAE0;
    z-index: 100;
    transition-duration: 0.2s;
}
.yellow{
    transition-duration: 0.2s;
    color: gold;
}
.tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: rgb(149, 149, 250);
    color: black;
    border-color: black;
    border: solid;
    border-radius: 6px;
    position: absolute;
    z-index: 1;  
    width: fit-content;
}

#star1:hover #tooltiptext1{
    visibility: visible;
}
#star2:hover #tooltiptext2{
    visibility: visible;
}
#star3:hover #tooltiptext3{
    visibility: visible;
}
#star4:hover #tooltiptext4{
    visibility: visible;
}
#star5:hover #tooltiptext5{
    visibility: visible;
}
#review{
    margin-left: 5%;
}
#subject{
    margin-bottom: 2%;
}
#select-edit{
    margin-top: 3%;
}
.every-flashcard{
    width:100%;
    border: none;
    background-color: #E9EDC9;
    border-radius: 10px;
    margin-bottom: 3%;
    cursor: pointer;
}
#submit-button{
    margin-top: 1.5%;
}
#make-button{
    margin-top: 1.5%;
}