*{
    margin: 2px;
}
.container{
    margin-top: 10%;
    width: 100%;
    line-height: 2000%;
    transition-duration: 0.2;
    opacity: 1;
}
.fade{
    transition-duration: 0.2s;
    opacity: 0;
}
.fade-in{
    transition-duration: 0.2s;
    opacity: 1;
}
.navbar-brand small {
    display: block;
    font-size: 10px;
  }
.row{
    width: 100%;
}
#no-gutters{
    margin-right: 0;
    margin-left: 0;
}
.col{
    background-color: lightblue;
    height: 20%;
    text-align: center;
}
#left-arrow{
    position: relative;
    float: left;
    margin-left: 2%;
}
#right-arrow{
    position: relative;
    float: right;
    margin-right: 2%;
}
#add-flashcard{
    margin-left: 5%;
    font-size: 20px;
    margin-top: 5%;
}
#add-review{
    margin-left: 5%;
    font-size: 20px;
    margin-top: 5%;
}
#title{
    font-size: 40px !important;
    color: black !important;
}
nav{
    position: fixed !important;
    z-index: 10;
    top: 0;
    margin-top: 0;
    width: 100%;
}